body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  padding: 1em;
}

.heading{
  text-align: center;
}

h1{
  font-size: 3em;
  margin: 0.25em 0;
  text-align: center;
}

h2{
  text-align: center;
}

h3 {
  font-size: 2em;
  margin: 0.25em 0;
  text-align: center;
}

.main h4{
  font-size: 1.5em;
}

p {
  font-size: 1.2em;
}

.main{
  margin-left: 10%;
  margin-right: 10%;
}

img{
  margin-left: 15%;
  margin-right: 15%;
  width: 70%;
  text-align: center;
}

#roughDraftImage{
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}